/ .message チャットグループが作成されました。

.sidebar
  .sidebar__upper_sidebar
    %p.sidebar__upper_sidebar__item
      = current_user.name
    = link_to edit_user_path(current_user.id) do
      %i.sidebar__upper_sidebar__item__icon.fa.fa-cog
    = link_to new_group_path do
      %i.sidebar__upper_sidebar__item__icon.fa.fa-edit
  .sidebar__bottom_sidebar
    - @groups.each do |group|
      = link_to group_messages_path(group.id) do
        .sidebar__bottom_sidebar__group
          %p.sidebar__bottom_sidebar__group__group_name
            = group.name
          %p.sidebar__bottom_sidebar__group__new_message
            - if group.messages.length == 0
              まだメッセージはありません。
            - elsif group.messages.last.image.present?
              画像が投稿されています。
            - else
              = group.messages.last.body

.main
  .main__group_info
    = link_to edit_group_path(@group) do
      %p.main__group_info__edit_button.button Edit
    %p.main__group_info__name
      = @group.name
    %p.main__group_info__members Members:
    - @group.users.each do |user|
      %p.main__group_info__members__name
        = user.name
  .main__chat_area
    - @group.messages.each do |message|
      .main__chat_area__chat_cotent
        %p.main__chat_area__chat_content__name
          = message.user.name
        %p.main__chat_area__chat_content__date
          = message.created_at
        %p.main__chat_area__chat_content__text
          - if message.body
            = message.body
        %p.main__chat_area__chat_content__image
          - if message.image
            = image_tag message.image
  .main__posting_area
    = form_for([@group,@message]) do |f|
      = f.text_field :body, placeholder: "Type a message", class: "main__posting_area__form"
      = f.label 'image', class: 'main__posting_area__icon fa fa-file-image-o'  do
        = f.file_field :image, style: "display: none;", id: 'message_image'
      = f.submit :Send, class: "main__posting_area__button button"
