.sidebar
  .sidebar__upper_sidebar
    = render partial: "layouts/user"
  .sidebar__bottom_sidebar
    = render partial: "layouts/groups", collection: @groups

- if @group != nil
  .main
    .main__group_info
      = render partial: "layouts/group", locals: {group: @group}
    .main__chat_area
      = render partial: "layouts/message", collection: @group.messages
    .main__posting_area
      = render partial: "layouts/posting_area", locals: {group: @group, message: @message}
